/*Standaard dingen*/
body {
    margin: 0;
    background-color: rgb(16, 0, 35);
    color: white;
    font-family: monospace;
    font-size: 16px;
}

header {
    background-image: linear-gradient(to bottom right, rgb(8, 64, 0), rgb(16, 0, 35));
    width: 85%;
    height: 35px;
    margin: 0px;
    margin-top: 0px;
    padding-bottom: 1px;
    padding-left: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
@media screen and (max-width: 500px) {
    header{
        height: 70px;
        width: 95%;
    }
    header a, header p{
        font-size: 40px;
    }
}

header a, header p{
    font-family: monospace;
    font-size: 30px;
}

header button {
    margin-left: auto;
    margin-right: 20px;
    width: 100px;
    height: 30px;
    font-size: 20px;
    background-color: rgb(138, 43, 226);
    color: cyan;
    outline-color: #21f33a;
    outline-style: solid;
}

footer {
    background-image: linear-gradient(to top left, rgb(8, 64, 0), rgba(16, 0, 35,0));
    width: 85%;
    height: 40px;
    box-align: right;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-top: 1px;
    padding-right: 5px;
}

a {
    color: white;
    font-family: monospace;
}

h1 {
    margin: 0;
}
footer{
    font-size: 12px;
    z-index: 10;
}
ul {
    text-align: center;
    list-style-position: inside;
}

/*Classes*/
.projects {
    margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
}
hr.line {
    border-top: 3px solid yellow;
    margin: 9px;
    width: 90%;
    margin-left: 5%;
}
.game {
    margin: 10px;
    width: 250px;
    height: 350px;
    flex-direction: row;
    background-color: rgb(138, 43, 226);
    color: white;
    font-size: 16px;
}
img{
    transition: transform .175s;
    z-index: 1;
}
img:hover{
    transform: scale(1.25);
    z-index: 11;
}
.game:hover {
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
}
.game:hover img {
    filter: brightness(50%);
    transform: scale(1);
}
.game a {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.description {
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.warp{
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    
}

/*ID*/
#am {
    text-align: center;
    margin-bottom: 70px;
}