/*Standaard dingen*/
body{
    margin: 0;
    background-color: rgb(16, 0, 35);
    color: white;
    font-family: monospace;
    padding-bottom: 35px;
}
header{
    background-image: linear-gradient(to bottom right, rgb(8, 64, 0), rgb(16, 0, 35));
    width: 85%;
    height: 35px;
    margin: 0px;
    margin-top: 0px;
    padding-bottom: 1px;
    padding-left: 5px;
}
footer{
    background-image: linear-gradient(to top left, rgb(8, 64, 0), rgb(16, 0, 35));
    width: 85%;
    height: 40px;
    box-align: right;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-top: 1px;
    padding-right: 5px;
}
a{
    color: white;
}
h1{
    margin: 0;
}

/*Classes*/
.projects{
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.game{
    margin: 10px;
    width: 250px;
    height: 350px;
    flex-direction: row;
    background-color: blueviolet;
    color: white;
}

.discription{
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
}

/*ID*/
#am{
    text-align: center;
    margin-bottom: 70px;
}
/*#CH{
    margin-top: 30px;
    text-align: center;
}
#MK{
    margin-top: 30px;
    text-align: center;
}*/